<h1>Update <%= @employee.name() %> Name</h1>

<form action="/employees/<%= @employee.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

    <label for="name">Rename your employee:</label>
    <input id="name" name="name" type="text">

    <button type="submit" class="button btn-success">Update Employee</button>
</form>

<form action="/employees/<%= @employee.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="button btn-danger">FIRE Employee</button>
</form>
