<h2>Welcome to the Employees Page</h2>

<% if @employees.any?() %>

  <ul>
    <% @employees.each do |employee| %>
    <li><a href="/employees/<%= employee.id() %>"><%= employee.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no employees yet!</p>
  <% end %>
