<h2><%= @project.title %></h2>

<h3>Current Employees</h3>

<% if @project.employees.any? %>
  <ul>
    <% @project.employees.each do |employee| %>
      <li><%= employee.name %></li>
    <% end %>
  </ul>
<% else %>
  <h4>This project is not assigned to any employees.</h4>
<% end %>

<h3>Add Project to Any of The Following Employees</h3>

<form action="/projects/<%= @project.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <select name="employee_id">
      <% @employees.each do |employee| %>
        <option value="<% employee.id %>"><%= employee.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button btn-success">Add Employee to Project</button>
</form>

<p><a href="/">Return to Home</a></p>
