html {
  background: url('https://images.unsplash.com/photo-1490036293550-29261601ccb9?ixlib=rb-0.3.5&s=3d9b231257f101a8393c19870ca70511&auto=format&fit=crop&w=634&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background: none;
  font-family: 'Montserrat', sans-serif;

}

.navbar1{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-bottom: 2px #F5B23E solid;
}

.navbar1 h3{
  display: inline-flex;

}

.navbar1 a{
  color: #F5B23E;
}

ul {
  list-style: none;
  padding: 0px;
}
li a{
  font-size: 18px;
  color: #1F292B;
}

li{
  margin-top: 8px;
}

h2 {
  text-decoration: underline;
  margin-top: 30px;
}

.row h1{
  text-align: center;
    color: #CFC7CA;
}

.well {
  background-color: rgba(207,199,202,0.4);
  border: none;
  text-align: center;
}

.main-content{
  color: #1F292B;
  margin-top: 15px;
  text-align: center;
}
.main-content well h3{
  text-decoration: underline;
}

input{
  margin: 4px;
}

.form-control {
  background-color: #FCFCFC;
  border: 1px solid #FCFCFC;
}

.top h3{
  color: #CFC7CA;
}

.well h3{
  text-decoration: underline;
}
